body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-for-loader {
  position: absolute;
  left: 50%;
  top: 45%;
}
.loader {
  position: relative;
  left: -50%;
}

.card {
  margin: 2% auto;
  width: 350px;
}

.bold-style-for-card-text {
  font-weight: bold;
}

.link-style:link,
.link-style:active,
.link-style:visited {
  text-decoration: none;
  color: black;
}
.view-more:hover .link-style {
  color: white;
}
